@tailwind base;
@tailwind components;
@tailwind utilities;

.chartdivs {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px; /* Add gap between boxes */
  padding: 16px; /* Add padding around the grid */
}

.chart1, .chart2, .chart3, .chart4 {
  background-color: var(--background);
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Round the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  padding: 16px; /* Add padding inside the box */
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --background: #ffffff;
  --foreground: #f5ecec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
